* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin-top: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  margin-top: 0rem;
  background-color: #2f2f2f;
}
@media only screen and (max-width: 1024px) {
  main {
    margin-top: 0rem;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 920px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    max-width: 360px;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    max-width: 300px;
  }
}

::-webkit-scrollbar {
  position: fixed;
  width: 0.3rem;
  height: 2rem;
}

::-webkit-scrollbar-track {
  background: #2f2f2f;
}

::-webkit-scrollbar-thumb {
  background: #00ffff;
  border-radius: 32px;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: #2f2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0 0 10px #000;
}
.header .nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
}
.header .nav .nav__logo {
  width: 2.5rem;
  transition: all 0.71s ease;
}
.header .nav .nav__logo:hover {
  filter: drop-shadow(0 0 5px #00ffff);
}
.header .nav .nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5rem;
}
.header .nav .nav__list a {
  position: relative;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 0.6rem;
  transition: all 0.71s ease;
}
.header .nav .nav__list a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #00ffff;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  box-shadow: 0 0 7px #00ffff;
  transition: all 0.71s ease;
}
.header .nav .nav__list a:hover::after {
  width: 100%;
}
.header .nav .nav__list a:hover {
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff;
}
@media only screen and (max-width: 768px) {
  .header .nav .nav__list {
    display: none;
  }
}
.header .nav .nav_menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  background-color: #333;
  z-index: 999;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  display: none;
}
.header .nav .nav_menu li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
}
.header .nav .nav_menu li .nav_menu_item {
  width: 100%;
  padding: 1rem;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  transition: all 0.71s ease;
}
.header .nav .nav_menu li .nav_menu_item:hover {
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff;
  background-color: #2f2f2f;
}
.header .nav .nav_menu li .nav_menu_icon .close {
  padding: 1rem;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}
.header .nav .nav_icons {
  display: none;
}
.header .nav .nav_icons .burger {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: all 0.71s ease;
}
@media only screen and (max-width: 768px) {
  .header .nav .nav_icons {
    display: block;
  }
}

.home {
  width: 100%;
  height: 55rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3rem;
}
@media only screen and (max-width: 1024px) {
  .home {
    height: 55rem;
  }
}
@media only screen and (max-width: 425px) {
  .home {
    height: 48rem;
  }
}
.home .cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8rem;
}
@media only screen and (max-width: 1024px) {
  .home .cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 3rem;
  }
}
.home .cont .home_text h2 {
  font-size: 48px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1rem;
}
.home .cont .home_text h2 span {
  font-size: 48px;
  color: #00ffff;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-shadow: 0 0 10px #00ffff;
}
@media only screen and (max-width: 425px) {
  .home .cont .home_text h2 span {
    font-size: 28px;
  }
}
@media only screen and (max-width: 375px) {
  .home .cont .home_text h2 span {
    font-size: 24px;
  }
}
@media only screen and (max-width: 425px) {
  .home .cont .home_text h2 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 375px) {
  .home .cont .home_text h2 {
    font-size: 24px;
  }
}
.home .cont .home_text h1 {
  font-size: 56px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 1rem;
}
.home .cont .home_text h1 span {
  font-size: 56px;
  font-weight: 700;
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}
@media only screen and (max-width: 425px) {
  .home .cont .home_text h1 span {
    font-size: 36px;
  }
}
@media only screen and (max-width: 375px) {
  .home .cont .home_text h1 span {
    font-size: 32px;
  }
}
@media only screen and (max-width: 425px) {
  .home .cont .home_text h1 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 375px) {
  .home .cont .home_text h1 {
    font-size: 32px;
  }
}
.home .cont .home_text span {
  font-size: 20px;
  color: #fff;
  font-family: "Fira Code", monospace;
  font-weight: 400;
}
@media only screen and (max-width: 425px) {
  .home .cont .home_text span {
    font-size: 16px;
  }
}
@media only screen and (max-width: 375px) {
  .home .cont .home_text span {
    font-size: 14px;
  }
}
.home .cont .home_img #demo-svg {
  width: 500px;
  overflow: visible;
  filter: drop-shadow(0 0 7px #00ffff);
}
.home .cont .home_img #demo-svg #path_1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.home .cont .home_img #demo-svg #path_2 {
  stroke-dasharray: 2200;
  stroke-dashoffset: 0;
}
@media only screen and (max-width: 1024px) {
  .home .cont .home_img #demo-svg {
    width: 300px;
  }
}
@media only screen and (max-width: 375px) {
  .home .cont .home_img #demo-svg {
    width: 200px;
  }
}

.about {
  width: 100%;
  height: 45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3rem;
}
@media only screen and (max-width: 1024px) {
  .about {
    height: 25rem;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    height: 55rem;
  }
}
.about .cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5rem;
}
@media only screen and (max-width: 1024px) {
  .about .cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 5rem;
  }
}
@media only screen and (max-width: 768px) {
  .about .cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    gap: 5rem;
  }
}
.about .cont .about_img .img {
  width: 30rem;
  height: 30rem;
  border: 3px solid #00ffff;
  box-shadow: 0 0 15px #00ffff;
  border-radius: 50%;
  background-image: url("../../../assets/img/Jonic.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 1024px) {
  .about .cont .about_img .img {
    width: 20rem;
    height: 20rem;
  }
}
@media only screen and (max-width: 375px) {
  .about .cont .about_img .img {
    width: 16rem;
    height: 16rem;
  }
}
.about .cont .about_text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}
.about .cont .about_text h2 {
  font-size: 48px;
  font-weight: 800;
  color: #fff;
}
.about .cont .about_text h2 span {
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}
@media only screen and (max-width: 425px) {
  .about .cont .about_text h2 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 375px) {
  .about .cont .about_text h2 {
    font-size: 24px;
  }
}
.about .cont .about_text p {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.about .cont .about_text p span {
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}
@media only screen and (max-width: 425px) {
  .about .cont .about_text p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 375px) {
  .about .cont .about_text p {
    font-size: 14px;
  }
}

.skills {
  width: 100%;
  height: 45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3rem;
}
.skills .cont {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5rem;
}
.skills .cont h2 {
  font-size: 48px;
  color: #fff;
  font-weight: 600;
}
.skills .cont h2 span {
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}
@media only screen and (max-width: 425px) {
  .skills .cont h2 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 375px) {
  .skills .cont h2 {
    font-size: 32px;
  }
}
.skills .cont .skills_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
}
@media only screen and (max-width: 425px) {
  .skills .cont .skills_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2rem;
  }
}
.skills .cont .skills_list img {
  height: 4rem;
}
@media only screen and (max-width: 425px) {
  .skills .cont .skills_list img {
    height: 3rem;
  }
}

.contact {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
}
.contact .cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 3rem;
}
.contact .cont h2 {
  font-size: 48px;
  color: #fff;
  font-weight: 600;
}
.contact .cont h2 span {
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}
@media only screen and (max-width: 425px) {
  .contact .cont h2 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 375px) {
  .contact .cont h2 {
    font-size: 32px;
  }
}
.contact .cont .contact_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3rem;
}
.contact .cont .contact_list i {
  color: #fff;
  font-size: 40px;
  font-weight: 100;
  transition: all 0.4s ease;
}
@media only screen and (max-width: 375px) {
  .contact .cont .contact_list i {
    font-size: 32px;
  }
}
.contact .cont .contact_list i:hover {
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}
.contact .cont p {
  color: #fff;
  font-size: 24px;
  color: #00ffff;
  font-weight: 500;
  text-shadow: 0 0 10px #00ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.7rem;
}
@media only screen and (max-width: 375px) {
  .contact .cont p {
    font-size: 20px;
  }
}
.contact .cont p i {
  color: #00ffff;
  font-size: 36px;
  font-weight: 100;
}
@media only screen and (max-width: 375px) {
  .contact .cont p i {
    font-size: 32px;
  }
}

.footer {
  width: 100%;
  height: 5rem;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
}
.footer p {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  font-family: "Fira Code", monospace;
}
@media only screen and (max-width: 425px) {
  .footer p {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
