// FLEXBOX
@mixin flexbox($justify, $align, $direction, $wrap, $gap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}

// GRID BOX
@mixin gridbox($columns, $rows, $gap) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    gap: $gap;
}