@use "../../roots" as *;
@use "../../mixins";

.about{
    width: 100%;
    height: 45rem;
    // background-color: $bg-gray;
    @include mixins.flexbox(space-between, center, row, nowrap, 3rem);

    @media only screen and (max-width: 1024px) {
        height: 25rem;
    }
    @media only screen and (max-width: 768px) {
        height: 55rem;
    }
    // @media only screen and (max-width: 375px) {
    //     height: 35rem;
    // }

    .cont{
        @include mixins.flexbox(space-between, center, row, nowrap, 5rem);

        @media only screen and (max-width: 1024px) {
            @include mixins.flexbox(center, center, row-reverse, nowrap, 5rem);
        }
        @media only screen and (max-width: 768px) {
            @include mixins.flexbox(center, center, column-reverse, nowrap, 5rem);
        }

        .about_img{
            .img{
                width: 30rem;
                height: 30rem;
                border: 3px solid $bg-cyan;
                box-shadow: 0 0 15px $bg-cyan;
                border-radius: 50%;
                background-image: linear-gradient(rgba(0, 255, 255, 0.2), rgba(0, 255, 255, 0.2)), url("../../../assets/img/satura_gojo.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                @media only screen and (max-width: 1024px) {
                    width: 20rem;
                    height: 20rem;
                }
                @media only screen and (max-width: 375px) {
                    width: 16rem;
                    height: 16rem;
                }
            }
        }

        .about_text{
            @include mixins.flexbox(center, flex-start, column, nowrap, 1rem);

            h2{
                font-size: $fs-48;
                font-weight: $fw-800;
                color: $text-white;
                span{
                    color: $text-cyan;
                    text-shadow: 0 0 10px $bg-cyan;
                }

                @media only screen and (max-width: 425px){
                    font-size: $fs-28;
                }
                @media only screen and (max-width: 375px){
                    font-size: $fs-24;
                }
            }
            p{
                font-size: $fs-20;
                font-weight: $fw-500;
                color: $text-white;
                span{
                    color: $text-cyan;
                    text-shadow: 0 0 10px $bg-cyan;
                }
                @media only screen and (max-width: 425px){
                    font-size: $fs-16;
                }
                @media only screen and (max-width: 375px){
                    font-size: $fs-14;
                }
            }
        }
    }
}