@use "../../roots" as *;
@use "../../mixins";

.contact{
    width: 100%;
    height: 25rem;
    background-color: $bg-gray;
    @include mixins.flexbox(center, center, row, nowrap, 0);

    .cont{
        @include mixins.flexbox(center, center, column, nowrap, 3rem);

        h2{
            font-size: $fs-48;
            color: $text-white;
            font-weight: $fw-600;

            span{
                color: $text-cyan;
                text-shadow: 0 0 10px $bg-cyan;
            }
        }

        .contact_list{
            @include mixins.flexbox(center, center, row, nowrap, 3rem);

            i{
                color: $text-white;
                font-size: $fs-40;
                font-weight: $fw-100;
                transition: all .4s ease;

                &:hover{
                    color: $text-cyan;
                    text-shadow: 0 0 10px $bg-cyan;
                    font-size: $fs-48;
                }
            }
        }
        p{
            color: $text-white;
            font-size: $fs-24;
            color: $text-cyan;
            font-weight: $fw-500;
            text-shadow: 0 0 10px $bg-cyan;
            @include mixins.flexbox(center, center, row, nowrap, .7rem);

            i{
                color: $text-cyan;
                font-size: $fs-36;
                font-weight: $fw-100;
            }
        }

    }
}